<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="top-heading text-center">
        Blogger for What you learned
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <header>
        <ul class="header-list">
          <li class="header-list-item"><%= link_to "TOP", root_path %></li>
          <li class="header-list-item"><%= link_to "ABOUT", about_path %></li>
        </ul>
      </header>
    </div>
  </div>  
  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
      <h3>What you learned</h3>
      <ul class="tag-list">
        <li>eg</li>
        <li>eg</li>
        <li>eg</li>
      </ul>
    </div>
    
    <div class="col-sm-4">
      <section class="sidebar">
        <h3>Statistics</h3>
        <table class="table">
          <tr class="row">
            <th class="col-sm-4">タグ</th><td class="col-sm-8">0</td>
          </tr>
          <tr class="row">
            <th class="col-sm-4">合計記事数</th><td class="col-sm-8">0</td>
          </tr>
        </table>
        <button type="button" class="btn btn-primary btn-block new-article-btn">記事作成</button>
      </section>
    </div>
  </div>
</div>